body {
  padding-top: 40px;
  font-family: 'Domine', serif;
}

h1, h2, h3, h4, h5, h6, .nav, .navbar-header, .btn {
  font-family: 'Montserrat', sans-serif;
}


/* header */
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  height: 21px;
  line-height: 21px;
  padding: 15px 15px;
}
.navbar-image {
  float: none;
}
.navbar-image img {
  height: 40px;
  width: auto;
  margin-top: -5px;
  margin-right: 10px;
}
.course {
  background: #ecf0f1;
  padding: 40px 20px;
  text-align: center;
  background: #94aebf url(../images/raspberrypi.jpg) no-repeat center center fixed;
  background-blend-mode: screen; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.course h1 small {
  color: #2c3e50; 
}

/* footer */
.site-footer {
  background: url(../images/bg01.png) repeat 0 0;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer-icon {
  margin: 15px 0;
}
.footer-icon i {
  color: #4b98d8;
}

/* layout + include */
.page-container, .updates-container, .meeting-container, .post-container {
  padding-top: 20px;
  padding-bottom: 40px;
}
.container h1 {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#disqus_thread {
  padding-top: 40px;
}


/* top page */
.top-section {
  padding: 20px 0 40px;
}
.top-section h2 {
  padding: 0 0 20px;
}
.top-section h3 {
  font-size: 21px;
}
.top-outcomes {
  background: url(../images/bg02.png) repeat 0 0;
}
.top-outcomes i {
  color: #4b98d8;
}
.sp-list li {
  padding: 10px 15px;
}

/* updates */
.post-list {
  padding-bottom: 20px;
}
.post-list li {
  margin-top: 10px;
}
.post-list h2 {
  font-size: 21px;
  margin-top: 0;
}

 /* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .navbar-brand {
    font-size: 14px;
    padding: 15px 10px;
  }
  .navbar-image img {
    height: 35px;
    width: auto;
    margin-top: -2px;
    margin-right: 5px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3, .top-section h3 {
    font-size: 18px;
  }
}