  <!-- nav is best for accessibility! -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="navbar-image"><img src="/images/LogoHM_w.png"> {{ site.title }}</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% for navpage in site.pages %}
        {% if navpage.title %}
          {% unless navpage.url contains 'projects/' %}
            <li {% if navpage.url == page.url %} class="active" {% endif %}>
              <a href="{{ navpage.url | prepend: site.baseurl }}">
                {{ navpage.title }}</a>
            </li>
          {% endunless %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<section class="course">
  <div class="signup">
      <h1>Learn to Measure People &amp; the Environment<br><small>with Hands-on
          Projects using Mobile Devices, the Internet of Things, &amp;
          Remote Sensing</small></h1>
      <h2>Seminars: Thu 12-2pm Fall 2015, 202 South Hall</h2>
      <h2>CoLabs: Tue 3:30pm-... Fall 2015, BIDS / 190 Doe Library</h2>
      <p>Instructors: Dav Clark, Javier Rosa &amp; guests from industry, the social
      sector and academia</p>
  </div>
</section>
