<ul class="post-list list-unstyled">

    {% for post in site.categories.syllabus reversed %}

        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} 
                {% if post.presenters %}
                    – {{ post.presenters }}
                {% endif %}
            </span>
            <h2>
                <a class="post-link"
                   href="{{ post.url | prepend: site.baseurl }}">
                     {{ post.title }}
                </a>
            </h2>
        </li>
    {% endfor %}

</ul>
