---
layout: default
---
<div class="container page-container">
    <h1 class="post-title">{{ page.title }}</h1>
        <dl class="dl-horizontal">
        <dt>Client:</dt>
        <dd>{{ page.client }}</dd>
        {% if page.team %}
        <dt>Team:</dt>
        <dd>{{ page.team }}</dd>
        {% endif %}
        {% if page.mentor %}
        <dt>Mentor:</dt>
        <dd>{{ page.mentor }}</dd>
        {% endif %}
    </dl>

    {{ content }}

  {% if page.comments == true %}
    {% include disqus.html %}
  {% endif %}

</div>
